<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZASearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>743FF90C1E6CE3B00019F11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>743FF9251E6CE3B00019F11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>743FF9301E6CE3B00019F11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
